@charset "UTF-8";

body {
	background: url(files/images/header.png) top left no-repeat, url(files/images/footer.png) bottom left no-repeat;
	background-color: #FFFFFF;
	min-width: 900px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/*div#footer-image {
	width: 100%;
	height: 150;
	margin-top: -150px;
	border: 0px;
	left: 0px;
	bottom: 0px;
	background-image: url(files/images/footer150px.png)
	background-position: bottom left;
	background-repeat: no-repeat;
	overflow: visible;
	float: left;
	margin-bottom: 0px;
	margin-left: 0px;
}*/

#all {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
	left: 230px;
}

#header {
	text-align: right; 
	height: 180px;
	margin-top: 0px;
	font-weight: bold; 
	font-size: 110%;
}

#sidebar-left {
	width: 200px;
	float: left;
	padding-right: 10px;
}
#content { 
	margin: 0 210px;
	padding: 0 10px;
	line-height: 150%;
	border-left: 2px solid #ddd9d9;
	border-right: 2px solid #ddd9d9;
}
#sidebar-right {
	width:200px;
	float:right;
	padding-left: 10px;
}

.sidebar {
	overflow: visible;
}

#nav-primaerlinks li {
	display: inline;
	list-style: none;
}

#nav-primaerlinks li + li::before {
	content:"• "; 
}

#nav-footer {
	margin-top: 190px;
}

#nav-footer li {
	display: inline;
	list-style: none;
}

#nav-footer li + li::before {
	content: "• "; 
}

#nav-footer ul, #nav-primaerlinks ul {
	padding-left: 0px;
}

#nav-footer a, #nav-primaerlinks a {
	text-decoration: none;
	color: #55524E;
}

#nav-footer a:hover, #nav-primaerlinks a:hover {
	text-decoration: underline;
	color: #55524E;
}

.metadata {
	color: #787878;
	font-size: 80%;
	line-height: 100%;
	margin: 2px 0;
}

#search-form input {
	display: inline;
}

#search-form input:focus {
	border-width: 2px;
}

#search-form-field {
	height: 20px;
	width: 200px;
	border-width: 1px;
	border-style: solid;
	border-color: #3c3c3c;
	padding: 1px;
}

#search-form-button {
	height: 20px;
	width: 25px;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #3c3c3c;
	padding: 2px 2px;
	vertical-align: middle;
	text-align: center;
}

#search-form-button:hover {
	background-color: #FF8800;
}

#main-nav, #main-nav a:link, #main-nav a:visited {
	color: #3c3c3c;
	text-decoration: none;
}

#main-nav a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.comment-meta {
	color: #787878;
	font-size: 80%;
	line-height: 100%;
	margin: 2px 0;
}

.comment-meta > a:link {
	color: #787878;
}

.comment-meta > a:visited {
	color: #787878;
}

.comment-meta > a:hover {
	color: #3C3C3C;
}

.comment {
	margin-bottom: 2ex;
	padding: 0.5ex;
}

.comment-answers {
	padding-left: 40px;
	padding-top: 1ex;
}

.comment-content p {
	margin: 0.7ex 0px;
}

.comments-spam-link {
	font-size: 90%;
	font-style: italic;
}

#comments-spam-hide {
	display: none;
}

.comment-spam {
	background-color: #FFA8A8;
	display:none;
}

hr {
	border: 1px solid #ddd9d9;
}

#dates {
	text-align: left;
}

#dates, .appointments {
	list-style-type: none;
	display: inline;
	padding: 0px;
}

.appointments {
	text-align: center;
}

#dates > li {
	font-weight: bold;
	margin: 0.5em 0;
	font-size: 110%;
}

.appointments li {
	font-weight: normal;
	font-size: 80%;
}

.appointments li a:link, .appointments li a:visited {
	color: #3c3c3c;
	text-decoration: none;
}

.appointments li a:hover {
	text-decoration: underline;
	font-weight: bold;
}

#comment-form label {
	display: block;
	font-weight: bold;
	font-size: 70%;
	line-height: 120%;
}

#comment-form input {
	resize: horizontal;
}

#comment-form-content {
	width: 500px;
	resize: both;
}

.comment-form-required {
	color: #FF8800;
 }

.comment-form-advice {
	font-size: 70%;
	margin: 0px;
}

#comment-form input, #comment-form textarea {
	border-style: solid;
	border-color: #3C3C3C;
	border-width: 1px;
}

#comment-form input:focus, #comment-form textarea:focus {
	border-color: #FF8800;
	border-width: 1px;
}

#comment-form-submit input {
	background-color: #FFFFFF;
}

#comment-form-submit input:hover {
	background-color: #FF8800;
}

.stoerer1 {
	color: #FF8800;
	font-size: 180%;
	font-weight: bold;
	line-height: 80%;
	font-family: LeagueGothic;
}

.stoerer2 {
	color: #3C3C3C;
	font-size: 140%;
}

.stoerer3 {
	font-size: 170%;
}
